/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*END CSS RESET*/


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }


body {
	background-image: url('../img/background3.jpg');
	background-attachment: fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
}

::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	color: #DDB972;
}

/**NAVBAR**/

ul {
  list-style: none;
	color: #fff;
	text-align: center;
	font-size: 2em;
	margin-top: 20px;
}

	#nav-list i {
	font-size: 1.2em;
}
	#nav-list b {
	font-size: .4em;
	font-family: 'Source Code Pro', sans-serif;
	display: block;
}

	#nav-list li {
	margin: 10px;
	padding-top: 20px;
}

	#social-nav {
		text-align: center;
		position: absolute;
		bottom: 20px;
		width: 100%;
}

	#social-nav li {
			padding-top: 17px;
}

.nav-wrapper {
	position: fixed;
	top: 0;
	left: 0;
  width: 10vw;
	height: 100%;
  background-color: #000;
	opacity: 0.7;
	max-width: 83px;
}

#navbar-contact {
	padding-top: 3px;
}

		/*NAVBAR ANIMATION*/
		.grow-rotate {
		  display: inline-block;
		  vertical-align: middle;
		  -webkit-transform: translateZ(0);
		  transform: translateZ(0);
		  box-shadow: 0 0 1px #000;
		  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
		  -moz-osx-font-smoothing: grayscale;
		  -webkit-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		  -webkit-transition-property: transform;
		  transition-property: transform;
		}
		.grow-rotate:hover, .grow-rotate:focus, .grow-rotate:active {
		  -webkit-transform: scale(1.1) rotate(4deg);
		  transform: scale(1.1) rotate(4deg);
		}


.ui-view-container {
	text-align: right;
}

.head-wrapper {
	color: #FCFBE3;
	margin-top: 75px;
	margin-right: 75px;
}

.head {
	font-family: "Roboto", Verdana;
	font-size: 3em;
	font-weight: bold;
}

.sub-head {
	font-family: 'Source Code Pro', monospace;
	line-height: 2em;
	margin-right: 30px;
}

/*WORK*/

.work-wrapper {
	width: 75%;
	float: right;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-top: 30px;
	margin-left: 100px;
	padding-left: 30px;
	padding-right: 30px;
}


.img-holder {
	max-width: 30vw;
	height: 200px;
	margin: 10px;
	opacity: 0.9;
	text-align: center;
	box-shadow: 1px 1px 1px #3b4346;
	border-radius: 3px;
	position: relative;
}

.text {
	opacity: 0;
	height: 100%;
	width: 100%;
	transition: .7s ease;
}


.img-holder:hover .text {
	opacity: 0.9;
	color: #fff;
	background-color: #126a82;
	transition: .7s ease;
	cursor: pointer;
}


.text p {
	font-family: "Roboto", monospace;
	padding-top: 30px;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 1em;
	font-size: 1.2em;
	letter-spacing: 2px;
}

.text button {
	margin-top: 40px;
	font-family: 'Roboto', Verdana;
	background: #000;
	border: 1px solid #000;
	opacity: .7;
	border-radius: 3px;
	outline: none;
	color: #fff;
	padding: 10px;
	cursor: pointer;
}

.text button:hover {
	background: #DDB972;
	color: #000;
	border: 1px solid #DDB972;
	transition: .5s ease;
}


			#img1 {
				background: url(../img/work/work1.jpg);
				background-size: cover;
			}

			#img2 {
				background: url(../img/work/work2.jpg);
				background-size: cover;
			}

			#img3 {
				background: url(../img/work/work3.jpg);
				background-size: cover;
			}

			#img4 {
				background: url(../img/work/work4.jpg);
				background-size: cover;
			}

			#img5 {
				background: url(../img/work/work5.jpg);
				background-size: cover;
			}

			#img6 {
				background: url(../img/work/work6.jpg);
				background-size: cover;
			}


.contact-page-wrapper {
		width: 85vw;
		float: right;
		overflow-y: hidden;
}


		#contact-wrapper {
			float: left;
			width: 35vw;
  }

/**FORM**/

#form p {
	color: #fff;
	font-family:'Source Code Pro', monospace;
	text-align: left;
	margin-top: 20px;
	font-size: .9em;
	line-height: 1.2em;
	padding-left: 10px;
	width: 100%;
}

#form a {
	font-weight: bold;
	color: #fff;
}

#form a:hover {
	color: #DDB972;
	opacity: .7;
}

/**MAP**/

#map-wrapper {
	  float: right;
		position: relative;
}

#map-size {
        width:45vw;
        height: 115vh;
        padding: 0;
        margin: 0;
      }

/**MAP OVERLAY**/

		#social-icons {
			position: absolute;
			top: 75px;
			right: 50px;
			z-index: 99;
			background-color: #000;
			opacity: 0.7;
			width: 275px;
			border-radius: 3px;

		}

				#social-icons ul {
					margin-bottom: 17px;
				}

				#social-icons ul li {
					display: inline;
					padding: 10px;

				}
				#social-icons ul li i {
					font-size: 1.2em;
				}


/**FORM**/
form {
  display: inline-block;
  text-align: left;
	margin-top: 20px;
}
  form input, form textarea {
    padding: 10px;
		font-family: 'Roboto', Verdana;
    background: #000;
		border: 1px solid #000;
		opacity: .7;
		border-radius: 3px;
    outline: none;
    color: #DDB972;
    margin-bottom: 20px;
    box-sizing: border-box; }
    form input:focus, form textarea:focus {
		 	border: 1px solid #DDB972;}
  form input {
    display: inline-block; }
    form input.name, form input.email {
      width: 49%; }
    form input.name {
      float: left; }
    form input.email {
      float: right; }
		form input.subject {
			width: 100%;
		}
  form textarea {
    width: 100%;
    min-height: 150px;
    resize: vertical; }


		#form p {
			color: #fff;
			font-family:'Source Code Pro', monospace;
			text-align: left;
			margin-top: 20px;
			font-size: .9em;
			line-height: 1.2em;
			padding-left: 10px;
			width: 100%;
		}

		#form a {
			font-weight: bold;
			color: #fff;
		}

		#form a:hover {
			color: #DDB972;
			opacity: .7;
		}

	#submit {
		float: right;
	}

	/**PLACEHOLDER STYLING**/
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  		color: #DDB972;
			}
		::-moz-placeholder { /* Firefox 19+ */
  		color: #DDB972;
			}
		:-ms-input-placeholder { /* IE 10+ */
  		color: #DDB972;
			}
		:-moz-placeholder { /* Firefox 18- */
  		color: #DDB972;
			}


/**SKILLS**/

#mobile-skills {
	display: none;
}

#logos-container {
	display: -webkit-flex;
	display: flex;
	width: 50vw;
	float: right;
	margin-right: 150px;
	display: block;
}

.logo-row {
	justify-content: space-between;
}


#logos-container img {
	max-height: 150px;
	margin-right: 30px;
	padding: 15px;
}

/**SKILLS ANIMATION**/
.img-pulse {
  padding: 20px 40px;
	animation: scale 4s ease-in infinite normal;

}

.img-pulse-opposite {
	padding: 20px 40px;
  animation: scale 3s ease-in infinite alternate;

}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}






/*MEDIA QUERIES*/

@media only screen and (max-width: 700px) {
	.head-wrapper {
			max-width: 60%;
			float: right;
			margin-right: 8%;
			font-size: 5vw;

	}

#contact-wrapper {
		max-width: 60%;
		float: right;
		margin-right: 8%;
		font-size: 5vw;
}

	.nav-wrapper {
		width: 30vw;
	}

	.head {

	}

	.sub-head {
		margin-right: 0;
	}

	.img-holder {
		max-width: 85%;
	}



	#logos-container {
		display: none;
	}

	#mobile-skills {
		display: block;
		font-family: 'Source Code Pro', monospace;
		margin-top: 50px;
		padding-right: 15px;
		line-height: 1.7em;
		font-size: 1.4em;
	}

	#map-wrapper {
		display: none;
	}

	#form {
		display: none;
	}

	#contact-wrapper {
		min-width: 100px;
		float: right;
	}
}
