/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*END CSS RESET*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


body {
	background-image: url('img/background3.jpg');
	background-attachment: fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	/*overflow-y: scroll;*/
	/*min-height: 100vh;*/
}

::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	color: #DDB972;
}

ul {
  list-style: none;
	color: #fff;
	text-align: center;
	font-size: 2em;
	margin-top: 20px;
}

#nav-list i {
	font-size: 1.2em;
}
#nav-list b {
	font-size: .4em;
	display: block;
	font-family: 'Source Code Pro', sans-serif;
}

#nav-list li {
	margin: 10px;
	padding-top: 20px;
}

#social-nav {
	text-align: center;
	position: absolute;
	bottom: 20px;
	width: 100%;
}

#social-nav li {
		padding-top: 17px;
}
.nav-wrapper {
	position: fixed;
	top: 0;
	left: 0;
  width: 10%;
	height: 100%;
  background-color: #000;
	opacity: 0.7;
}

.ui-view-container {
	text-align: right;
}

.head-wrapper {
	color: #FCFBE3;
	margin-top: 75px;
	margin-right: 75px;
}

.head {
	font-family: "Roboto", Verdana;
	font-size: 3em;
	font-weight: bold;
}

.sub-head {
	font-family: 'Source Code Pro', monospace;
	line-height: 2em;
	margin-right: 30px;
}

.port-wrapper {
	width: 75%;
	float: right;
	margin-top: 30px;
	margin-right: 50px;

}

.port-wrapper img {
	width: 47%;
	box-shadow: 1px 1px 1px #3b4346;
	background-color: #0F7488;

}

.thumb {

	margin: 10px;
}

.left {
	float: left;
}
.right {
	float: right;
}

.tint {
	background: #138199;
}

.port-wrapper img:hover {
	opacity: .5;
}

.port-wrapper img {
	-moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

#map {
        width: 50vw;
        height: 100vh;
        padding: 0;
        margin: 0;
      }

/**SKILLS**/

#logos {
	width: 50vw;
	float: right;
	margin-right: 100px;


}
#logos img {
	max-width: 20%;
	height: 150px;
	margin-right: 40px;
	padding: 15px;
}

#node {
	max-width: 30%;
	margin-right: 20px !important;
}
#angular {
	margin-left: 10px;
}
/**SOCIAL BUTTONS**/
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 700px) {
	body {

	}
}
