/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*END CSS RESET*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


body {
	background-image: url('img/background3.jpg');
	background-attachment: fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	/*overflow-y: scroll;*/
	/*min-height: 100vh;*/
}

::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	color: #DDB972;
}

/**NAVBAR**/

ul {
  list-style: none;
	color: #fff;
	text-align: center;
	font-size: 2em;
	margin-top: 20px;
}

#nav-list i {
	font-size: 1.2em;
}
#nav-list b {
	font-size: .4em;
	display: block;
	font-family: 'Source Code Pro', sans-serif;
}

#nav-list li {
	margin: 10px;
	padding-top: 20px;
}

#social-nav {
	text-align: center;
	position: absolute;
	bottom: 20px;
	width: 100%;
}

#social-nav li {
		padding-top: 17px;
}
.nav-wrapper {
	position: fixed;
	top: 0;
	left: 0;
  width: 10%;
	height: 100%;
  background-color: #000;
	opacity: 0.7;
}

#navbar-contact {
	padding-top: 3px;
}
		/*NAVBAR ANIMATION*/
		.grow-rotate {
		  display: inline-block;
		  vertical-align: middle;
		  -webkit-transform: translateZ(0);
		  transform: translateZ(0);
		  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
		  -moz-osx-font-smoothing: grayscale;
		  -webkit-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		  -webkit-transition-property: transform;
		  transition-property: transform;
		}
		.grow-rotate:hover, .grow-rotate:focus, .grow-rotate:active {
		  -webkit-transform: scale(1.1) rotate(4deg);
		  transform: scale(1.1) rotate(4deg);
		}
/**/

.ui-view-container {
	text-align: right;
}

.head-wrapper {
	color: #FCFBE3;
	margin-top: 75px;
	margin-right: 75px;
}

.head {
	font-family: "Roboto", Verdana;
	font-size: 3em;
	font-weight: bold;
}

.sub-head {
	font-family: 'Source Code Pro', monospace;
	line-height: 2em;
	margin-right: 30px;
}

/*WORK*/

.work-wrapper {
	width: 75%;
	float: right;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 30px;
	margin-left: 100px;

}

.work-wrapper img {
	box-shadow: 1px 1px 1px #3b4346;
	border-radius: 2px;
}

.thumb {
	max-width: 30vw;
	margin: 10px;
}

#map {
        width: 50vw;
        height: 100vh;
        padding: 0;
        margin: 0;
      }



/**SKILLS**/

#logos-container {
	display: -webkit-flex;
	display: flex;
	width: 50vw;
	float: right;
	margin-right: 150px;
	display: block;
}

.logo-row {
	max-width:
	justify-content: space-between;
}


#logos-container img {
	/*max-width: 20%;*/
	max-height: 150px;
	margin-right: 30px;
	padding: 15px;
}

/*#node {
	max-width: 30%;
	margin-right: 18px !important;
}
#angular {
	margin-right: 10px !important;
}*/

.img-pulse {
  padding: 20px 40px;
	animation: scale 4s ease-in infinite normal;

   /*transition: transform 0.1s;*/
}

.img-pulse-opposite {
	padding: 20px 40px;
  animation: scale 3s ease-in infinite alternate;

}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
/**SOCIAL BUTTONS**/
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 700px) {
	body {

	}
}
