<div class="contact-page-wrapper">

<div id="contact-wrapper">

  <div class="head-wrapper">
    <h1 class="head">Contact Me</h1>
  </div>

  <div id="social-icons-mobile">
    <ul>
      <li><a href="mailto:hathaway.jess@gmail.com" target="_blank"><i class="fa fa-envelope-o grow-rotate"></i>E-MAIL</a></li>
      <li><a href="http://www.github.com/hathawayjess" target="_blank"><i class="fa fa-github grow-rotate"></i>GITHUB</a></li>
      <li><a href="https://www.linkedin.com/in/jessica-hathaway-a1754610b" target="_blank"><i class="fa fa-linkedin grow-rotate"></i>LINKEDIN</a></li>
      <li><a href="https://www.facebook.com/jessica.hathaway.5" target="_blank"><i class="fa fa-facebook-square grow-rotate"></i>FACEBOOK</a></li>
      <li><a href="https://www.instagram.com/makeshifts/" target="_blank"><i class="fa fa-instagram grow-rotate"></i>INSTAGRAM</a></li>
    </ul>
  </div>

  <div id="form">
    <p>E-mail me at <a href="mailto:hathaway.jess@gmail.com">hathaway.jess@gmail.com</a><br /> or fill out the form below.</p>
    <form id="contactForm" method="POST" ng-submit="sendFrickenMessage(contact)">
      <input ng-model="contact.name" type="text" name="name" class="name" placeholder="Name" required>
      <input ng-model="contact.email" type="email" name="_replyto" class="email" placeholder="E-mail" required>
      <input ng-model="contact.subject" type="text" name="subject" class="subject" placeholder="Subject" required>
      <textarea ng-model="contact.message" name="message" class="message" placeholder="Message..." required></textarea>


      <input type="text" name="_gotcha" style="display:none" />

      <button  type="submit" id="sendMessage" class="submit" value="Send">Send</button>
    </form>
  </div>
</div>

<div id="map-wrapper">
<map-directive></map-directive>

<div id="social-icons">
  <ul>
    <li><a href="http://www.github.com/hathawayjess" target="_blank"><i class="fa fa-github grow-rotate"></i></a></li>
    <li><a href="https://www.linkedin.com/in/jessica-hathaway-a1754610b" target="_blank"><i class="fa fa-linkedin grow-rotate"></i></a></li>
    <li><a href="https://www.facebook.com/jessica.hathaway.5" target="_blank"><i class="fa fa-facebook-square grow-rotate"></i></a></li>
    <li><a href="https://www.instagram.com/makeshifts/" target="_blank"><i class="fa fa-instagram grow-rotate"></i></a></li>
  </ul>
</div>

</div>



</div>
